<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tasks.css">
  <title>Completed Assignments</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">View All Assignments</a></li>
        <li><a href="/completedassignments">View All Completed Assignments</a></li>
        <li><a href="/tasks/pastdue">View Past-Due Assignments</a></li>

      </ul>
    </nav>
    <h1>Completed Assignments</h1>
    </header>

  <% if (data.length > 0) { %>
  <ul>
    <% for (let i = 0; i < data.length; i++) { %>

    <strong>Assignment: </strong> <%= data[i].assignment %> <%= data[i].lastName %> <br>
    <strong>Description: </strong> <%= data[i].description || "No Description Provided"%> <br>
    <strong>Class: </strong> <%= data[i].class %> <br>
    <strong>Priority:</strong> <%= data[i].priority %> <br>
    <!-- Convert date object to string -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString -->
    <strong>Due Date: </strong> <%= data[i].date.toString().substring(0, 15) %> <br>

      <hr>
    <% } %>
  </ul>
  <% } else { %>
  <p>No Completed assignments found.</p>

  <% } %>
  <!-- Send user to homepage to enter an assignment -->
  <form method="GET" action="/" id="all-form">
    <button type="submit">Add Assignment Here</button>
  </form>

</body>

</html>