<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/confirmation.css">
    <title>Confirm</title>
</head>
<body>
    <header>
        <h1>Thank you for submitting your assignment</h1>
        <h3>Please find the assignment details below</h3>
    </header>
    <div id="container">
        <p>Assignment: <%= data.assignment %></p>
        <p>Description: <%= data.description %></p>
        <p>Class: <%= data.class %></p>
        <p>Priority: <%= data.priority %></p>
        <p>Due Date: <%= data.date %></p>
    </div>
</body>
</html>